<html>
<form action="/search" id="form" method="GET">
Title:<input type="text" name="title"></input>
<input type="submit" value="Search Movie">
</form>

<div><%if(locals.search){%>
    <ul><%if(Array.isArray(search)){
            for(s of search){%>
            <li><img src="<%=search.Poster %>" width="50" height="50"><br>
                <%=s.Title %><br>
                <%=s.Year %><br>
            </li>
        <%}}else{%>
        <li><img src="<%=search.Poster %>" width="50" height="50"><br>
            <%=search.Title %><br>
            <%=search.Year %><br>
        </li>
        <%}%>
    </ul>
<%}%>
</div>
</html>