<html>
<form action="/search" id="form" method="GET">
      Search:<input type="text" name="s"></input>
             <input type="submit" value="Search Movie">
</form>
<form action="/movies" id="form" method="GET">
          ID:<input type="text" name="id"></input>
             <input type="submit" value="Search Movie By ID">
</form>

<div><%if(locals.movies){%>
    <ul>
            <li><img src="<%=movies.image %>" width="100" height="100"><br>
                <b>Title:</b><%=movies.title %><br>
                <b>Description:</b><%=movies.description %><br>
                <b>Duration:</b><%=movies.duration%><br>
                <b>Ratings:</b><%=movies.Ratings[0].userrating%>,<b>Source:</b><%=movies.Ratings[0].source%><br>
                <b>Director:</b><%=movies.Cast[0]%>,<b>Writer:</b><%=movies.Cast[1]%>,<b>Actors:</b><%=movies.Cast[2]%><br>
            </li>
    </ul>
<%}%>
</div>
<div><%if(locals.search){%>
    <ul><%if(Array.isArray(search)){
            for(s of search){%>
            <li><img src="<%=s.image %>" width="100" height="100"><br>
                <b>Title:</b><%=s.title %><br>
                <b>Year:</b><%=s.productionYear %><br>
                <b>Type:</b><%=s.type%><br>
               <%if(s.description){%> <b>description:</b><%=s.description%><%}%>
            </li>
       
        <%}}%>
    </ul>
<%}%>
</div>
</html>